.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header{
  width: 100%;
  height: 40px;
  background-color: var(--darkblue-clr);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  z-index: 3;
}

header .logo{
  width: 25%;
  display: flex;
  justify-content: center;
}

header .logo a{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

header .logo a h1{
  font-family: AguafinaScript-Regular;
  font-weight: normal;
  font-size: 1.4rem;
}

header .logo h1:hover{
  color: var(--yellow-clr);
}

header .nav-menu{
  width: 50%;
  display: flex;
  justify-content: center;
}

header .nav-menu li{
  list-style: none;
}

header .nav-menu li a{
  font-size: 1.2rem;
  font-family: CarroisGothicSC-Regular;
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
}

header .nav-menu li a.active,
header .nav-menu li a:hover{
  text-decoration: underline;
  color: var(--yellow-clr);
}

header .socials{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .socials a{
  margin: 0 5px;
  display: flex;
  align-items: center;
}

header .socials a:hover,
header .socials a:hover *{
  fill: var(--yellow-clr);
}

main {  
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: calc(100vh - 70px);
}

main section{  
  width: inherit;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
}

main section::before{
  z-index: 0;
}

main section *{
  z-index: 1;
}

main .home{
  justify-content: center !important;
  background-image: radial-gradient(circle, rgba(11,55,75,100%) 0%, rgba(13,38,60,100%) 100%);
  color: white;
  position: relative;
}

main .home::before{
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../src/imgs/blue-desgin.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

main .home h1{
  /* margin-top: -60px; */
  font-family: 'Calligraffitti-Regular';
  text-align: center;
  font-size: 4rem;
  font-weight: normal;
}
main .home span{
  font-size: 2.4rem;
  margin-bottom: 15px;
}
main .home p{
  font-family: 'Quicksand';
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 50px;
}
main .home a.login,
main .home a.register{
  text-decoration: none;
  width: 200px;
  height: 40px;
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(255,255,255,25%) 0%, rgba(255,255,255,15%) 50%, rgba(255,255,255,25%) 100%);  
  border: 1px solid #fff;
  outline: 0px solid transparent;
  border-radius: 5px;
  margin: 5px 0px;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
} 
main .home a.login:hover,
main .home a.register:hover{
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(255,255,255,35%) 0%, rgba(255,255,255,25%) 50%, rgba(255,255,255,35%) 100%);  
}

main .about-us,
main .our-work,
main .contact-us {
  padding: 20px 200px 0px;
  background-color: #eee;
  color: var(--blue-clr);
  position: relative;
}

main .about-us::before,
main .our-work::before,
main .contact-us::before{
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../src/imgs/white-desgin.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}
main .about-us h1,
main .our-work h1,
main .contact-us h1 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 20px;
}

main .about-us ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
}
main .about-us ul li{
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  margin: 10px 15px;
}
main .about-us ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--blue-clr);
}
main .about-us ul li a .member-img{
  width: 120px;
  height: 120px;
  background-color: #fff;
  box-shadow: 0 0 6px 2px rgb(13 65 89 / 30%);
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
  transition: 200ms;
}
main .about-us ul li a .member-img:hover{
  width: 130px;
  height: 130px;
}
main .about-us ul li a .member-img svg,
main .about-us ul li a .member-img img{
  width: 100%;
  height: 100%;
  fill: var(--blue-clr);
}
main .about-us ul li a h4{
  font-weight: bold;
}
main .about-us ul li a p{
  text-align: center;
}

main .our-work ul{
  width: 100%;
  max-height: 65vh;
  border: 1px solid var(--blue-clr);
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  display: grid;
  grid-auto-rows: 60px;
  gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
main .our-work ul li{
  list-style: none;
  width: 100%;
  height: 60px;
  background-color: rgb(13 65 89 / 15%);
  border: 1px solid var(--blue-clr);
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  cursor: pointer;
}

main .our-work ul li:hover{
  background: rgb(13 65 89 / 25%);
}
main .our-work ul li h4{
  font-weight: bold;
  font-size: 1.4rem;
}
main .our-work ul li .list-toggle{
  width: 40px;
  height: 40px;
  fill: var(--blue-clr);
  cursor: pointer;
}

main .contact-us ul{
  width: 512px;  
  padding: 0px 70px;
}
main .contact-us ul li{
  list-style: none;
  width: 100%;
  height: 60px;
  background-color: rgb(13 65 89 / 15%);
  border: 1px solid var(--blue-clr);
  border-radius: 5px;

  display: flex;
  align-items: center;
  margin: 5px 0px;
}
main .contact-us ul li a{
  color: var(--blue-clr);
}
main .contact-us ul li .social-ico{
  width: 40px;
  height: 40px;
  fill: var(--blue-clr);
  cursor: pointer;
  margin: 0 20px;
}

main .contact-us ul li .social-ico{
  width: 48px;
  height: 48px;
  fill: var(--blue-clr);
  cursor: pointer;
  margin: 0 20px;
}

footer {
  height: 30px;
  background: var(--darkblue-clr);
  color: #fff;
  z-index: 2;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;  
}

footer a {
  color: var(--yellow-clr);  
}