.container {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  color: var(--blue-clr);
  position: relative;
  display: flex;
  flex-direction: column;
}

.container h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.container .cont-wrap {
  flex-grow: 1;
  padding: 20px 60px 60px;
}

.container .cont-wrap .personal-progress{
  width: 100%;
  height: 100%;
  background-color: rgb(13 65 89 / 15%);
  border: 1px solid var(--blue-clr);
  border-radius: 5px;
}

.container .cont-wrap .personal-progress h2{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}